*{
box-sizing: border-box;
}
.qw{
     
     border: solid;
     width: 550px;
     height: 550px;
     padding-left: 100px;
     padding-top: 100px;

}





 

    


           
  

